*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.clear{
    clear: both;
}
header{
    padding: 5px;
}

.wrapper{
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
}
.header a{
    margin-left: 15px;
}
.header .login ,.shop{
 float: right;
}
.header .login{
    margin-left: 20px;
}

.sigin{
    display: none;
}
.head .slider-desk{
    display: none;
}
.search-one{
    display: none;
}
.header .search{
    margin-top: 15px;
}
.header .search input{
    padding: 5px;
    width: 100%;
    height: 39px;
    background-color: #E6E6E6;
    border-radius: 6px;
    border: none;
}
/*SLIDER SHOW*/
.slider{
    margin-top: 15px;
    width: 100%;
    height: 222px;
    background-color: #009AFF;
    border-radius: 8px;
    color: #F5F5F5;
}

.slider .slider-one{
    margin-left: 30px;
}
.slider .slider-one p{
    padding-top: 29px;
    padding-bottom: 10px;
}
.slider .slider-one input{
    width: 110px;
    height: 35px;
    padding: 8px;
    border: none;
    color: #000866;
    font-weight: bold;
    border-radius: 4px;
}

/*NOUVEAUTES*/

.new{
    margin-top: 30px;
}
.new p{
    font-size: 24px;
    font-weight: bold;
    color: #3C3C3C;
    padding-bottom: 8px;
    border-bottom: 2px solid #E6E6E6;
 }

 /*NOUVEAUTE*/
.nav{
    display: none;
}
button{
    display: none;
}

@media only screen and (min-width: 1024px){
    body{
        padding-top: 15px;
    }
    .search{
        display: none;
    }
    .slider-desk .slider-one p{
        padding-top: 29px;
        padding-bottom: 10px;
     }
     .slider-desk .slider-one{
        margin-left: 30px;
    }
    .slider-desk .slider-one .big-img{
        float: right;
        margin-right: 123px;
        margin-top: 30px;
    }
    .slider-desk .slider-one input{
        width: 110px;
        height: 35px;
        padding: 8px;
        border: none;
        color: #000866;
        font-weight: bold;
        border-radius: 4px;
    }
    .search-one{
    width: 354px;    
    height: 42px;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #E6E6E6;
    display: inline;
    margin-right: 30px;
    
    }
    .head{
        display: inline;
        float: right;

    }
    .head .slider-desk{
        display: block;
        margin-top: 15px;
        width: 100%;
        height: 276px;
        background-color: #009AFF;
        border-radius: 8px;
        color: #F5F5F5;
    }
    .header button{
        width: 90px;
        font-size: 14px;
        font-weight: bold;
        height: 35px;
        display: inline; 
        padding: 4px;
    }
    .header button:hover{
        transition:  0.3s;
       background-color: #FF751A;
    }
    .header .insc{
        margin-right: 50px;
        margin-left: 15px;   
        color: #fff;
        background-color: #0099FF;
        border: none;
        border-radius: 5px;
    }
    .header .connect{  
        color: #fff;
        background-color: #0099FF;
        border: none;
        border-radius: 5px;
    }
    .header .hamburg , .logo{
        display: none;
    }
    .nav{
    width: 250px;
    height: 1500px;
    display: block;
    background-color: lawngreen;
    }
    .nav a{
        display: block;
        padding: 10px;
        text-decoration: none;
        margin-left: 50px;
        font-size: 14px;
    }
    .accueil{
        font-weight: bold;
        font-size: 16px;
    }
  
    .header .shop, .login{
        width: 29px;
        height: 29px;
    }
    /*SLIDER*/
    .slider{
        display: none;
    }
   
}
@media only screen and (min-width: 1280px){
    body{
        padding-top: 15px;
    }
    .search{
        display: none;
    }
    .slider-desk .slider-one{
        margin-left: 30px;
    }
    .slider-desk .slider-one input{
        width: 110px;
        height: 35px;
        padding: 8px;
        border: none;
        color: #000866;
        font-weight: bold;
        border-radius: 4px;
    }
    .search-one{
    width: 654px;    
    height: 42px;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #E6E6E6;
    display: inline;
    margin-right: 50px;
    
    }
    .head{
        display: inline;
        float: right;

    }
    .header button{
        width: 104px;
        font-size: 14px;
        font-weight: bold;
        height: 39px;
        display: inline; 
        padding: 5px;
    }
    .header button:hover{
        transition:  0.3s;
       background-color: #FF751A;
    }
    .header .insc{
        margin-right: 100px;
        margin-left: 15px;   
        color: #fff;
        background-color: #0099FF;
        border: none;
        border-radius: 5px;
    }
    .header .connect{  
        color: #fff;
        background-color: #0099FF;
        border: none;
        border-radius: 5px;
    }
    .header .hamburg , .logo{
        display: none;
    }
    .nav{
    width: 300px;
    height: 1500px;
    display: block;
    background-color: lawngreen;
    }
    .nav a{
        display: block;
        padding: 10px;
        text-decoration: none;
        margin-left: 50px;
        font-size: 14px;
    }
    .accueil{
        font-weight: bold;
        font-size: 16px;
    }
  
    .header .shop, .login{
        width: 29px;
        height: 29px;
    }
    /*SLIDER*/
    .slider{
        display: none;
    }
   
} */